@model ProductSystem.BLL.ViewModels.Utilities.EmailVM

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header text-center">
                    <h4>Forget Password</h4>
                </div>

                <div class="card-body">

                    <form asp-action="SendResetPassword" method="post">
                        <div asp-validation-summary="All" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input asp-for="To"  class="form-control" placeholder="Enter your email" />
                            <span asp-validation-for="To" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                Send Reset Link
                            </button>
                        </div>

                    </form>

                </div>

                <div class="card-footer text-center">
                    <a asp-action="Login">Back to Login</a>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}