@model ProductSystem.BLL.ViewModels.CategoryFormVM

 
<div class="container mt-4">

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>Create Category</h4>
        </div>

        <div class="card-body">

            <form asp-action="Create" method="post">

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>

                    <input asp-for="Name"
                           class="form-control"
                           placeholder="Enter category name"/>

                    <span asp-validation-for="Name"
                          class="text-danger"></span>
                </div>

                <button class="btn btn-success">
                    Create
                </button>

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>
    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}